################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pipeline Tutorial/bin/Debug/net8.0
/Pipeline Tutorial/obj
